/* цвет основного текста для абзацев #757575 */
/* цвет для заголовков #212121 */
/* белый #FFFFFF */
/* черный в лого #000000 */
/* цвет акцента голубой #2196F3 */
/* ссылки в футере #FFFFFF с прозрачностью 60% */

/* цвет фона Герой #2F303A */
/* цвет фона Наша команда #F5F4FA */
/* цвет фона футера #2F303A */

/* :root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --accent-color: #2196f3;
  --hero-background-color: #2f303a;
  --grey-background-color: #f5f4fa;
  --border: 1px solid #eeeeee;
  --icon: #afb1b8;
  --clients-logo: #afb1b8;
  --animation-duration: 250ms;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
} */

/* ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
} */

/* nav {
  display: flex;
  align-items: center;
}

.section__title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
} */

/* Логотип */
/* .logo {
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
  text-decoration: none;
}
.logo__accent {
  color: var(--accent-color);
} */

/* Навигация по сайту, Контактные данные */

/* .headerSection,
.mainNav,
.siteNav {
  display: flex;
  align-items: center;
}

.siteNav .siteNav__item + .siteNav__item {
  margin-left: 50px;
}

.addressNav .addressNav__item + .addressNav__item {
  margin-left: 50px;
}

.addressNav__link {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  color: var(--primary-text-color);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .addressNav__icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
} */

/* .siteNav__link {
  display: block;
  color: var(--title-text-color);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .siteNav__link--current {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  position: relative;
} */

/* .siteNav__link--current::after {
  left: 0;
  content: '';
  display: block;
  position: absolute;
  bottom: -1px;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
} */

/* .addressNav {
  display: flex;
  margin-left: auto;
} */

/* .siteNav__link, */
/* .addressNav__link {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
} */

/* .siteNav__link:hover,
.siteNav__link:focus, */
/* .addressNav__link:hover,
.addressNav__link:focus, */
/* .footerContacts__address:hover,
.footerContacts__address:focus, */
/* .footerContacts__mail:hover,
.footerContacts__mail:focus, */
/* .footerContacts__tel:hover,
.footerContacts__tel:focus {
  color: var(--accent-color);
} */

/* .addressNav__link:hover .addressNav__icon,
.addressNav__link:focus .addressNav__icon {
  fill: var(--accent-color);
} */

/* .header {
  border-bottom: 1px solid #ececec;
} */

/* Герой */

/* .hero {
  padding: 200px 0;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  text-align: center;
  background-color: var(--hero-background-color);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to bottom, rgba(47, 48, 58, 0.5), rgba(47, 48, 58, 0.3)),
    url(../images/hero-1.jpg);
} */

/* .hero__title {
  margin-bottom: 30px;
  color: var(--primary-white-color);
  text-align: center;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
} */
/* .hero__button {
  padding: 10px 32px;
  color: var(--primary-white-color);
  background: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* Наши преимущества */
/* .section__title--visually-hidden,
.modalChek__input--visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
} */

/* .advantages__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
} */

/* .advantages {
  display: flex;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* .advantages__item, */
/* .advantages__bgicon {
  width: 270px;
  margin-left: auto;
  margin-right: auto;
} */

/* .advantages__bgicon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  height: 120px;
} */

/* .advantages__icon {
  width: 70px;
  height: 70px;
}

.advantages__icon .advantages__text {
  color: var(--primary-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
} */

/* .advantages .advantages__item + .advantages__item {
  margin-left: 30px;
} */

/* Чем мы занимаемся */
/* .section--noPaddingTop {
  padding-top: 0%;
} */

/* .section__title--marginBottom {
  margin-bottom: 50px;
} */

/* .weDoList {
  display: flex;
} */

/* .weDoList .weDoList__item + .weDoList__item {
  margin-left: 30px;
} */

/* .weDoList__img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 370px;
} */

/* .weDoList__item {
  position: relative;
} */

/* .weDoList__card {
  display: flex;
  justify-content: center;
  height: 70px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  align-items: center;
  background: rgba(47, 48, 58, 0.8);
} */

/* .weDoList__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
} */

/* Наша команда */
/* .section--bgc {
  background: var(--grey-background-color);
} */

/* .teamList .teamCard + .teamCard {
  margin-left: 30px;
} */

/* .teamCard {
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
} */

/* .teamCard__filling {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
} */

/* .teamCard__title {
  color: var(--title-text-color);
  font-weight: 500;
} */

/* .teamCard__text {
  margin-top: 10px;
}

/* .teamCard__title, */
/* .teamCard__text {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
} */

/* .teamCard__image {
  display: block;
  width: 270px;
} */
/* .socialNetworksList {
  display: flex;
  justify-content: center;
  margin-top: 16px;
} */

/* .socialNetworksList__item {
  width: 44px;
  height: 44px;
} */

/* .socialNetworksList__item--bg {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
} */

/* .socialNetworksList .socialNetworksList__item + .socialNetworksList__item {
  margin-left: 10px;
} */

/* .socialNetworksList__icon {
  fill: var(--icon);
  width: 20px;
  height: 20px;
} */

/* .socialNetworksList__link:hover,
.socialNetworksList__link:focus {
  background-color: var(--accent-color);
} */

/* .socialNetworksList__link:hover .socialNetworksList__icon,
.socialNetworksList__link:focus .socialNetworksList__icon {
  fill: var(--primary-white-color);
} */

/* Постоянные клиенты */

/* .clientsList__icon {
  fill: var(--clients-logo);
  width: 106px;
  height: 60px;
} */

/* .clientsList {
  display: flex;
  align-items: center;
} */

/* .clientsList .clientsList__item + .clientsList__item {
  margin-left: 30px;
} */

/* .clientsList__item {
  width: 170px;
  height: 92px;
} */

/* .clientsList__link {
  border: 1px solid var(--clients-logo);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  transition-property: border-color, fill;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .clientsList__link:hover .clientsList__icon,
.clientsList__link:focus .clientsList__icon {
  fill: var(--accent-color);
} */
/* .clientsList__link:hover,
.clientsList__link:focus {
  border-color: var(--accent-color);
} */

/* Footer */
/* .footerContainer {
  display: flex;
  align-items: baseline;
} */

/* .socialNetworksList--marginTop {
  margin-top: 20px;
} */

/* .footerSection {
  background: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  align-items: baseline;
}
 */
/* .footerLogo {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  flex-grow: 1;
}

.footerContacts {
  margin-top: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
} */

/* .footerContacts__item:not(:last-child) {
  margin-bottom: 9px;
} */

/* .footerContacts__address {
  color: var(--primary-white-color);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .footerContacts__address, */
/* .footerContacts__mail, */
/* .footerContacts__tel {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .footerNetworks {
  width: 206px;
  margin-left: 70px;
  margin-right: 93px;
} */

/* .footerNetworks__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
} */

/* .socialNetworksList .socialNetworksList__item + .socialNetworksList__item {
  margin-left: 10px;
} */

/* .appeal {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
} */

/* .appeal__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background: var(--hero-background-color);
  transition: border-color, var(--primary-white-color),
    var(--animation-duration) var(--timing-function);
} */

/* .appeal__input:hover,
.appeal__input:focus {
  border-color: var(--primary-white-color);
} */

/* .appeal__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
  transition: color var(--primary-white-color), var(--animation-duration) var(--timing-function);
} */

/* .modalForm__comment::placeholder {
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
} */

/* .appeal__submitButton {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06 em;
  color: var(--primary-white-color);
  cursor: pointer;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  transition: background-color var(--animation-duration) var(--timing-function);
} */

/* .appeal__submitButton:hover,
.appeal__submitButton:focus {
  background: #0385f0;
} */

/* .appeal__fields {
  display: flex;
  align-items: baseline;
} */

/* .appeal__submitIcon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
} */

/* Backdrop-Modal */

/* .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: opacity var(--animation-duration) var(--timing-function);
} */

/* .backdrop.backdrop--is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transform: scale(0);
  transition: transform, var(--animation-duration) var(--timing-function);
} */

/* .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-height: 581px;
  min-width: 528px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform, var(--animation-duration) var(--timing-function);
  padding: 40px;
} */

/* .backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
  transition: transform, var(--animation-duration) var(--timing-function);
} */

/* .modal__buttonCloseModal {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50px;
  box-sizing: border-box;
  transition: color, var(--animation-duration) var(--timing-function);
} */

/* .modal__iconCloseModal {
  width: 11px;
  height: 11px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: transform, var(--animation-duration) var(--timing-function);
} */

/* .modal__buttonCloseModal:hover > .modal__iconCloseModal,
.modal__buttonCloseModal:focus > .modal__iconCloseModal {
  fill: var(--accent-color);
} */

/* MODAL-content */

/* .modalForm {
  display: flex;
  flex-direction: column;
  width: 448px;
} */

/* .modalForm__title {
  width: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 12px;
} */

/* .modalForm__item:not(:last-child) {
  margin-bottom: 20px;
} */

/* .modalForm__label {
  display: flex;
  flex-direction: column;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
} */

/* .modalForm__label, */
/* .modalForm__input, */
/* .modalForm__comment {
  width: 100%;
} */

/* .modalForm__input, */
/* .modalForm__comment {
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 40px;
  outline-color: var(--accent-color);
  transition: border-color var(--animation-duration) var(--timing-function);
} */

/* .modalForm__input:focus {
  border-color: var(--accent-color);
} */

/* .modalForm__input:focus + .modalForm__icon {
  fill: var(--accent-color);
  border-color: transparent;
} */

/* .modalForm__field {
  position: relative;
} */

/* .modalForm__icon {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill var(--animation-duration) var(--timing-function);
} */

/* .modalForm__comment {
  display: block;
  height: 120px;
  padding: 12px 16px;
  margin: 0;
  resize: none;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: black;
} */

/* .modalChek {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
} */

/* .modalChek__input {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2px;
  background: var(--title-text-color);
} */

/* .modalChek__input:focus {
  border-color: var(--accent-color);
} */

/* .modalChek__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 8px;
  border-radius: 2px;
  outline: none;
  border: 2px solid black;
  width: 16px;
  height: 15px;
  transition: background-color var(--animation-duration) var(--timing-function);
} */

/* .modalChek__input:checked + .modalChek__icon {
  background-color: var(--accent-color);
  background-image: url(../images/icon-check-11.svg);
  background-size: cover;
  background-origin: border-box;
  border-color: var(--accent-color);
} */

/* .modalChek:focus {
  border-color: var(--accent-color);
} */

/* .modalChek__link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: var(--accent-color);
  transform: color var(--animation-duration) var(--timing-function);
} */

/* .modalButton {
  display: inline-block;
  margin-right: auto;
  margin-left: auto;
  width: 200px;
  height: 50px;
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
  cursor: pointer;
  margin-top: 30px;
  transition: background-color var(--animation-duration) var(--timing-function);
} */

/* ПОРТФОЛИО */

/* Buttons */

/* .filterButton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
} */
/* .filterButton__item {
  border-radius: 4px;
  background: var(--grey-background-color);
} */

/* .filterButton .filterButton__item + .filterButton__item {
  margin-left: 8px;
} */
/* .filterButton__buttonOn {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  background: var(--grey-background-color);
  color: var(--primary-white-color);
  background: var(--accent-color);
  transition-property: color, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .filterButton__buttonOff {
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  background: var(--grey-background-color);
  color: var(--title-text-color);
  font-family: inherit;
  transition-property: color, background-color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .filterButton__buttonOn, */
/* .filterButton__buttonOff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
} */
/* .filterButton__buttonOn:hover,
.filterButton__buttonOn:focus, */
/* .filterButton__buttonOff:hover,
.filterButton__buttonOff:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

/* Список проектов */

/* .projectList {
  display: flex;
  flex-wrap: wrap;
} */

/* .projectList__item {
  box-sizing: border-box;
  width: 370px;
  background: var(--primary-white-color);
} */

/* .projectList > .projectList__item {
  margin-right: 30px;
  margin-bottom: 30px;
  flex-basis: calc(100% / 3 - 60px);
}
 */
/* .projectList__item:nth-child(3n) {
  margin-right: 0px;
} */

/* .projectList__item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
} */

/* .projectList__projectInfo {
  padding: 20px 24px;
  border-right: var(--border);
  border-bottom: var(--border);
  border-left: var(--border);
} */

/* .projectList__projectName {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
} */

/* .projectList__projectType {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
 */
/* .projectList__image {
  display: block;
  width: 370px;
} */

/* .projectList__card {
  position: relative;
  overflow: hidden;
} */

/* .projectList__thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(calc(100% + 1px));
  transition: transform var(--animation-duration) var(--timing-function);
} */

/* .projectList__link:hover .projectList__thumb,
.projectList__link:focus .projectList__thumb {
  transform: translateY(0);
  transition: transform var(--animation-duration) var(--timing-function);
} */

/* .projectList__link {
  display: block;
  transition-property: color;
  transition-duration: var(--animation-duration);
  transition-timing-function: var(--timing-function);
} */

/* .projectList__link:hover,
.projectList__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
} */

/* Buttons - состояния */
/* .hero__button:hover,
.hero__button:focus {
  color: var(--primary-white-color);
  background: #0385f0;
} */

/* .filterButton__buttonOff:hover,
.filterButton__buttonOff:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
} */
