.appeal__submitButton {
  display: flex;
  align-items: center;
  text-align: center;
  width: 200px;
  height: 50px;
  background: $accent-color;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: transparent;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06 em;
  color: $primary-white-color;
  cursor: pointer;
  padding-left: 29px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 12px;
  transition: background-color $animation-duration $timing-function;

  &:hover,
  &:focus {
    background: #0385f0;
  }
}

.appeal__submitIcon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
