.filterButton {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
}

.filterButton__item {
  border-radius: 4px;
  background: $grey-background-color;

  & + & {
    margin-left: 8px;
  }
}

.filterButton__buttonOn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  background: $grey-background-color;
  color: $primary-white-color;
  background: $accent-color;
  transition-property: color, background-color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.filterButton__buttonOff {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border: transparent;
  border-radius: 4px;
  background: $grey-background-color;
  color: $title-text-color;
  font-family: inherit;
  transition-property: color, background-color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $primary-white-color;
    background: $accent-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
