.footerContacts {
  font-family: $font-main;
  margin-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: $primary-white-color;

  &__item:not(:last-child) {
    margin-bottom: 9px;
  }
}

.footerContacts__address {
  color: $footerContacts;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;
  color: $primary-white-color;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footerContacts__mail {
  color: $footerContacts;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.footerContacts__tel {
  color: $footerContacts;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;
  &:hover,
  &:focus {
    color: $accent-color;
  }
}
