.footerNetworks {
  width: 206px;
  margin-left: 70px;
  margin-right: 93px;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $primary-white-color;
  }
}
