.projectList {
  display: flex;
  flex-wrap: wrap;

  &__card {
    position: relative;
    overflow: hidden;
  }

  &__image {
    display: block;
    width: 370px;
  }

  &__projectInfo {
    padding: 20px 24px;
    border-right: $border;
    border-bottom: $border;
    border-left: $border;
  }

  &__projectName {
    margin-bottom: 4px;
    color: $title-text-color;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }

  &__projectType {
    color: $primary-text-color;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
  }
}

.projectList__item {
  box-sizing: border-box;
  width: 370px;
  background: $primary-white-color;

  &:nth-child(3n) {
    margin-right: 0px;
  }

  &:nth-last-child(-n + 3) {
    margin-bottom: 0px;
  }

  .projectList > & {
    margin-right: 15px;
    margin-bottom: 15px;
    flex-basis: calc((100% - 6 * 15px) / 3);
  }
}

.projectList__link {
  display: block;
  transition-property: color;
  transition-duration: $animation-duration;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.projectList__thumb {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: $primary-white-color;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(calc(100% + 1px));
  transition: transform $animation-duration $timing-function;

  .projectList__link:hover &,
  .projectList__link:focus & {
    transform: translateY(0);
    transition: transform $animation-duration $timing-function;
  }
}
