$primary-text-color: #757575;
$title-text-color: #212121;
$primary-white-color: #ffffff;
$accent-color: #2196f3;
$hero-background-color: #2f303a;
$grey-background-color: #f5f4fa;
$border: 1px solid #eeeeee;
$icon: #afb1b8;
$clients-logo: #afb1b8;
$footerContacts: rgba(255, 255, 255, 0.6);
$animation-duration: 250ms;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$calc100: 100%;
$font-main: Roboto, sans-serif;
$font-secondary: Raleway, sans-serif;
